langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-google-genai
langchain-chroma
langchain-experimental
requests
chromadb
sentence-transformers
python-dotenv
python-multipart
python-docx
requests
pymupdf
pypdf
pdfplumber 

fastapi
uvicorn
ipykernel
